* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav{
  background-color: aqua;
  position: sticky;
  top: 10px;
  width: 100%;
}
.nav:hover{
  background-color: aquamarine;
}
.logo-box {
  display: flex;
  gap: 1rem;
  margin: 5px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}
.tabs,
.login {
  display: none;
}
.login{
    border: 1px solid ;
    background-color: aliceblue;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    padding: 5px 5px;

}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
  .tabs,
  .login {
    display: flex;
  }
.navul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
.navul{
    display: flex;
    list-style-type: none;
    gap: 6rem;
  }
}

.h1-h4{
    text-align: center;
}

.card-image {
  width: 100%;
}
.card {
  background-color: rgba(220, 240, 240, 0.537);
  box-shadow: 0 0 5px;
  padding: 10px;
}
.parent-cards {
  margin-top: 30px;
  display: grid;
  gap: 30px;
}
@media screen and (min-width:768px) {
  .parent-cards {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    border-radius: 20px;
  }
}
.free-video{
    text-align: center;
}
.buttons{

    text-align: center;
}
.btn{
    border: 1px solid ;
    color: #777;
    border-radius: 10px;
}
.btn:hover{
    color: black;
}
@media screen and (min-width:768px) {
    .buttons{
        display: flex;
        justify-content: center;
        gap: 5rem;
        text-align: center;
        color: #777;
    
    }
  }
  .parent-women{
    margin-top: 20px;
    display: grid;
    gap: 10px;
    
  }
Footer{
    margin-top: 30px;
    background-color: black;
}
.name{
    border-radius: 12px ;
    border: none;
    padding: 10px 30px;
    text-align: start;
}
.email{
    border-radius: 12px ;
    border: none;
    padding: 10px 30px;
    text-align: left;

}
.subscribe{
    border-radius: 12px ;
    border: none;
    padding: 10px 30px;
    text-align: start;
    background-color: darkgoldenrod;
}
.footer-childs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
@media screen and (min-width:768px) {
    .footer-childs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}
  hr{
    color:  white;
}
  .list-footer{
    color: aliceblue;
    list-style-type: none;
}

.parent-list-footer{
    color: white;
    list-style-type: none;
    display: grid;
    grid-template: repeat(2,auto)/repeat(2,120px)
}

li{
    list-style-type: none;
}

@media screen and (min-width:320px){

  .parent-list-footer{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      
  }
  
}
@media screen and (min-width:768px){

    .parent-list-footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
}
